div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;
}

img {
    border: 15px groove orangered;
    border-radius: 100%
    padding: 50px;
    margin: 40px;
}

.gregtwo {
    border: 15px dashed orangered;
}

.gregfour {
    border: 15px dotted orangered;
}

.gregthree {
    border: 15px double orangered;
}